@using ThreeTenant.Web.Areas.App.Models.Layout
@using ThreeTenant.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}

<a href="@Url.Action("Index", "Home", new {area = string.Empty})">
    @await Component.InvokeAsync(typeof(AppLogoViewComponent), new
    {
        logoSkin = "dark",
        logoClass = "h-25px h-lg-25px"
    })
</a>