@using ThreeTenant.Web.Areas.App.Models.Layout
@using ThreeTenant.Web.Areas.App.Views.Shared.Components.AppLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="d-flex align-items-center">
    @await Component.InvokeAsync(typeof(AppLogoViewComponent), new
    {
        LogoSkin = ViewBag.BrandLogoSkin,
        logoClass = "h-45px logo"
    })
</a>
